<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Chọn nghề theo cách của bạn 1</title>
	<meta name="description" content="ứng dụng chọn nghề theo cách của bạn" />
	<meta name="keywords" content="ứng dụng chọn nghề, ứng dụng chọn nghề nghiệp phù hợp, ứng dụng chọn nghề tương lai" />
	<meta name="author" content=""/>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	

		
	<!-- Custom CSS -->
	<link href="/dist/css/stylechonnghe.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="wsmenucontainer">

    <% include partials/menu %> 
  <div class="wrapper">


<div id="quizzie">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" height="0">
    <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
    <defs>
      <g id="line">
        <line id="svg_1" y2="15.666668" x2="99.666662" y1="15.666668" x1="0.999995" stroke-width="2" stroke="rgb(0, 138, 255)" fill="none" />
        <line stroke="rgb(0, 138, 255)" id="svg_4" y2="1" x2="8.989895" y1="1" x1="99.666661" stroke-width="2" fill="none" />
        <line id="svg_5" stroke="rgb(0, 138, 255)" y2="31.166662" x2="7.832443" y1="31.166662" x1="100.109209" stroke-width="2" fill="none" />
      </g>
    </defs>
  </svg>

<h2 class="headline pulse" style="margin-top: 20px;">

  <div class="lines">

    <svg class="left" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" viewBox="0 0 205 33">
      <g id="headline">
        <use xlink:href="#line" />
      </g>
    </svg>

  </div>

  <span class="text">Ứng dụng chọn nghề</span>

  <div class="lines">

    <svg class="right" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" viewBox="0 0 205 33">
      <g id="headline">
        <use xlink:href="#line" />
      </g>
    </svg>

  </div>

</h2>
  <h1>Chọn nghề theo cách của bạn 1</h1>
    <ul class="quiz-step step1 current" >

        <li class="question">
            <div class="question-wrap">
                <h2 class="textquestion">Lựa chọn 1 kiểu chọn nghề bạn muốn ?</h2>
            </div>
        </li>

        <div class="lquestion">
     <a href="/chon-nghe-theo-tam-ly-va-nang-luc">   <li class="quiz-answer low-value" data-quizIndex="4">
            <div class="answer-wrap"> 
                <p class="answer-text">chọn nghề theo tâm lý và năng lực </p>
            </div>

        </li>
        </a>
         
     <a href="/chon-nghe-theo-cach-suy-dien">    <li class="quiz-answer high-value" data-quizIndex="4">
            <div class="answer-wrap" > 
                <p class="answer-text">chọn nghề theo cách suy diễn</p>
            </div>
        </li>
        </a>
         <a href="/chon-nghe-theo-ca-tinh">   <li class="quiz-answer low-value" data-quizIndex="4">
            <div class="answer-wrap"> 
                <p class="answer-text">chọn nghề theo cá tính</p>
            </div>

        </li>
        </a>
         <a href="/chon-nghe-giao-tiep-hoac-xa-hoi">    <li class="quiz-answer high-value" data-quizIndex="4">
            <div class="answer-wrap" > 
                <p class="answer-text">chọn nghề công việc giao tiếp hay mang tính xã hội</p>
            </div>
        </li>
        </a>
          <a href="/chon-nghe-theo-so-thich">    <li class="quiz-answer high-value" data-quizIndex="4">
            <div class="answer-wrap" > 
                <p class="answer-text">chọn nghề theo sở thích</p>
            </div>
        </li>
        </a>
         <a href="/nghe-nao-cua-ban">    <li class="quiz-answer high-value" data-quizIndex="4">
            <div class="answer-wrap" > 
                <p class="answer-text">Nghề nào của bạn?</p>
            </div>
        </li>
        </a>
        </div>
    </ul>
    
    <ul id="results" >
        <li class="results-inner">
            <p>Kết quả của bạn 1</p>
            <h1></h1>
            <p class="desc"></p>
        </li>
    </ul>


</div>
  </div>
    </div>
<script src='/dist/js/jquery.min.js'></script>

<script type="text/javascript">

</script>
</body>
  
</html>
